# Ignore the node_modules directory
node_modules/

# Logs
logs/
*.log

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Cache and Session files
*.cache
*.session

# Dependency directories
lib-cov/
coverage/
.nyc_output/
.pnp/
*.pnp.js

# Output of 'npm pack'
*.tgz

# Yarn
.yarn-integrity

# dotenv environment variables file
.env

# Optional: Exclude your editor/IDE configuration files
# .vscode/
# .idea/

# Optional: Exclude any built output directories
# dist/
# build/
